# Publish GitHub workflow artifacts tutorial example
name: Publish GitHub Actions Artifacts

on:
  push:
    tags:
      - v\d+\.\d+\.\d+

jobs:
  Release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source codes
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: temurin
          cache: maven
      - name: Build
        run: |
          mvn -DskipTests=true clean package

      - name: Upload Assets
        id: uploaded-assets
        uses: softprops/action-gh-release@v1
        with:
          files: target/data-import-handler-*.jar
